@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  100% {
    transform: translateX(400%);
  }
}

body {
  background-color: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}
